rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

     match /users/{Id} {
      allow read: if true;
      allow write: if request.auth.uid != null;
    }

   match /stripe_customers/{uid} {
      allow read, write: if request.auth.uid == uid;

      match /payment_methods/{id} {
        allow read,write: if request.auth.uid == uid;
      }
      match /payments/{id} {
        allow read, write: if request.auth.uid == uid;
      }

    }

  }

}
