
<ng-container *ngIf="!paymentMethods?.length">
  No Payment methods available at this moment
</ng-container>

<ng-container *ngIf="paymentMethods?.length">

  <h3>Method of Payments!</h3>

  <mat-nav-list>
    <mat-list-item *ngFor="let pm of paymentMethods" (click)="onSelect(pm)">
      <div matLine>
        <span class="card-selector-label">
          <matCommerce-credit-card-icon [cardType]="pm.card.brand"></matCommerce-credit-card-icon>
          <span class="card-selector-label-detail">
            **** {{pm.card.last4}} | Expires {{pm.card.exp_month}} /{{pm.card.exp_year}}
          </span>
        </span>
      </div>
      <mat-checkbox [checked]="hasSelected(pm)"></mat-checkbox>
      <buttom mat-raised-button (click)="onRemove(pm)" type="button" class="card-selector-remove-action">
        <mat-icon color="warn">delete</mat-icon>
      </buttom>
    </mat-list-item>

  </mat-nav-list>

</ng-container>
